html, body {
	font-family: sans-serif;
	font-size: 100%;
	margin: 0;
	padding: 0;
}
p {
	line-height:  1.48;
}
#skip {
	position: absolute;
	top: 0;
	right: 100%;
}
header {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	padding: 1em 2.4em;
}
#navigation {
	width: 25%;
}
#navigation button {
	display: none;
}
.nav-links {
	display: flex;
	justify-content: space-around;
	padding: 0;
}
.nav-links li {
	list-style-type: none;
}
.nav-links li a {
	text-decoration: none;
	text-transform: uppercase;
}