html, body {
	font-family: "Roboto", sans-serif;
	font-size: 100%;
	margin: 0;
	padding: 0;
}
p {
	line-height:  1.48;
}
a {
	text-decoration: none;
}
#skip {
	position: absolute;
	top: 0;
	right: 100%;
}
header {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	padding: 1em 2.4em;
}
.logo {
	text-decoration: none;
	color: #000;
	font-size: 1.5em;
	font-family: 'Roboto Condensed';
	font-weight: 800;
	text-transform: uppercase;
}
#navigation {
	width: 25%;
}
#navigation button {
	display: none;
}
.nav-links {
	display: flex;
	justify-content: space-around;
	padding: 0;
}
.nav-links li {
	list-style-type: none;
}
.nav-links li a {
	color: #333333;
	font-family: 'Roboto Condensed';
	text-transform: capitalize;
}
#main {
	width: 1024px;
	margin: auto;
}
#main > * {
	color: #444444;
}
.about {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
}
.title-wrapper {
	width: 500px;
	display: flex;
	flex-flow: column nowrap;
	align-items: start;
}
.title-wrapper div {
	flex-basis: 10em;
	flex-grow: 2;
}
.title-wrapper .title {
	font-size: 1.8em;
	margin-bottom: 0.2em;
}
.title-wrapper .subtitle {
	color: #a5a5a5;
	font-weight: 400;
	margin-top: 0;
}
.more-projects-1 {
	display: block;
}
.more-projects-2 {
	display: none;
}
.copy {
	width: 40%;
	margin: 10em auto;
	text-align: center;
}
.copy .copy-text {
	color: #565656;
	line-height: 1.4;
	margin: 2em;
}
figure {
	margin: 0;
}
.copy .contact-us {
	border: 1px solid #333333;
	border-radius: 4px;
	color: #333333;
	margin: 1em;
	padding: 0.8em;
}
.projects .featured-projects {
	display: grid;
	grid-template-columns: auto auto auto;
	grid-template-rows: auto auto;
	grid-template-areas: 
	"pic1 pic2 pic3" 
	"pic4 pic5 pic6" ;
	height: 1000px;
}
.featured-projects a:nth-child(1) {
	grid-area: pic1;
	align-self: end;
}
.featured-projects a:nth-child(2) {
	grid-area: pic2;
	align-self: center;
}
.featured-projects a:nth-child(3) {
	grid-area: pic3;
}
.featured-projects a:nth-child(4) {
	grid-area: pic4;
	align-self: end;
}
.featured-projects a:nth-child(5) {
	grid-area: pic5;
	align-self: center;
}
.featured-projects a:nth-child(6) {
	grid-area: pic6;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 600px) {
	.more-projects-1 {
		display: none;
	}
	.more-projects-2 {
		display: block;
	}
	.about {
		flex-flow: column wrap;
	}
	.title-wrapper {
		width: auto;
	}
}